lab2/glove-wikipedia/glove.6B.50d.txt
lab2/glove-wikipedia/glove.6B.100d.txt
lab2/glove-wikipedia/glove.6B.300d.txt
lab2/glove-wikipedia/glove.6B.200d.txt
lab2/.ipynb_checkpoints/jmbag-lab2-checkpoint.ipynb
